body{
    color: rgb(234, 172, 2);
}
h2{
    color: rgb(255, 0, 0);

}
button{
    color: rgb(239, 113, 2);
    background-color: rgb(241, 248, 64);
}
body{
    background-color: rgba(249, 136, 80, 0.617);
}