body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f4f4f4;
}
 
h1 {
    color: #255ec6;
}
 
.inputs {
    margin: 10px 0;
}
 
input[type="number"] {
    width: 105px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #5900ff;
    border-radius: 5px;
}
 
 
 
button {
    background-color: #ff00cc;
    color: rgb(255, 255, 255);
    border: none;
    padding: 20px 25px;
    border-radius: 90px;
    cursor: pointer;
    font-size: 18px;
}
 
button:hover {
    background-color: #ff00cc;
}
 
#resultado {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #5900ff;
    border-radius: 5px;
    display: inline-block;
    background-color: #ffffff;
}
body {
    background: linear-gradient(to right, #4539f0, #f59494, #c526e5);
}

h2 {
    color: #255ec6;
}